{% extends 'base.html' %}

{% block title %}Madlibs{% endblock %}

{% block content %}
<h1>Madlibs</h1>
<form action="/story">
    <div>
        <label for="place">place: </label>
        <input type="text" name="place">

        <label for="noun">noun: </label>
        <input type="text" name="noun">

        <label for="verb">verb: </label>
        <input type="text" name="verb">

        <label for="adjective">adjective: </label>
        <input type="text" name="adjective">

        <label for="plural_noun">plural_noun: </label>
        <input type="text" name="plural_noun">

        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}